.hand {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: -1em;
  transform: translateY(0);
  transition: transform 0.1s ease-in;
}

.disabled {
  transform: translateY(100%);
}
