<div class="table">
  <div class="slots">
    @for (_ of Array(numPlayers); track $index) {
      <div class="slot">
        @if ($index < playedCards.length) {
          <app-card [value]="playedCards[$index]" [turn]="!revealed" />
        }
      </div>
    }
  </div>
  @if (host) {
    <div class="button-bar">
      <button (click)="revealButtonPressed.emit()" class="button">@if (revealed) { Hide } @else { Reveal }</button>
      <button (click)="resetButtonPressed.emit()" class="button">Reset</button>
    </div>
  }
</div>
