<div class="table">
  <div class="slots">
    @for (_ of Array(numPlayers); track $index) {
      <div class="slot">
        @if ($index < playedCards.length) {
          <app-card [value]="playedCards[$index]" [turn]="!revealed" />
        }
      </div>
    }
  </div>
  @if (host) {
    <div class="button-bar">
      <app-button (click)="revealButtonPressed.emit()" [disabled]="inputDisabled">
        @if (revealed) { Hide } @else { Reveal }
      </app-button>
      <app-button (click)="resetButtonPressed.emit()" [disabled]="inputDisabled">
        Reset
      </app-button>
    </div>
  }
</div>
