<div class="card" [class.raise]="raise" [class.flipped]="flipped" [class.disabled]="disabled" [style.transform]="transform">
  <div class="card-front">
    <svg [class.disabled]="disabled" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 16">
      <text x="1" y="2.5" class="card-text" textLength="1" lengthAdjust="spacingAndGlyphs">{{ getSymbol(value) }}</text>
      <text x="11" y="13.5" class="card-text" textLength="1" lengthAdjust="spacingAndGlyphs" rotate="180">{{ getSymbol(value) }}</text>
      @for (placement of getPlacements(value); track placement.x * 1441 + placement.y) {
        <svg xmlns="http://www.w3.org/2000/svg"
             fill="#fb3657"
             [attr.x]="placement.x"
             [attr.y]="placement.y"
             [attr.width]="placement.size"
             [attr.height]="placement.size"
             viewBox="0 0 512 512">
          <path
            [attr.transform]="placement.inverted ? 'translate(0,512) scale(1,-1)' : ''"
            d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/>
        </svg>
      }
    </svg>
  </div>
  <div class="card-back">
    <div class="card-pattern"></div>
  </div>
</div>
