<main>
  @if (connecting) {
    <div class="center">
      <app-throbber/>
    </div>
  } @else {
    <div class="slots">
      @for (_ of Array(state.numPlayers); track $index) {
        <div class="slot">
          @if ($index < state.playedCards.length) {
            <app-card [value]="state.playedCards[$index]" [flipped]="!state.revealed" />
          }
        </div>
      }
    </div>

    @if (state.host) {
      <div class="button-bar">
        <app-button (onClick)="revealConceal()" [disabled]="synchronizing || connecting">
          @if (state.revealed) { Hide } @else { Reveal }
        </app-button>
        <app-button (onClick)="reset()" [disabled]="synchronizing || connecting">
          Reset
        </app-button>
      </div>
    }

    <div class="hand" [class.hidden]="state.revealed || connecting">
      <app-hand (cardChange)="playCard($event)" [disabled]="synchronizing || state.revealed || connecting" [hidden]="state.revealed || connecting"/>
    </div>
  }
</main>

<router-outlet/>
